/* Color palette
 * green - #7ACB53
 * offwhite - #F4F5EF
 * dark blue - #162A3D
 * light blue - #74CAE2
 * yellow - #E5FB52
 * medium blue - #1683AB
 */

@media {
    body {
        background-color: #162a3d;
    }

    img {
        width: 100%;
    }

    #headline {
        color: #74cae2;
        font-weight: bold;
    }
    #byline {
        color: #e5fb52;
        font-weight: lighter;
    }

    #name {
        color: #e5fb52;
        font-weight: lighter;
    }
    #topper2 {
        padding: 0px;
        margin: 0px;
        position: relative;
    }

    #imgh1 {
        padding: 10px 10px 10px 10px;
        margin: 300px 100px 0px 0px;
        background-color: #000000;
        color: white;
    }

    .caption {
        font-size: 12px;
        color: #7acb53;
    }

    .credit {
        color: #7acb53;
    }

    .date {
        text-align: center;
        color: #7acb53;
    }

    #content {
        width: 100%;
        font-size: 15px;
        color: #f4f5ef;
    }

    .inlineimage {
        width: 100%;
    }

    .pullquote {
        border-left: 4px solid #74cae2;
        text-align: center;
        color: #7acb53;
        padding: 10px 30px 10px 30px;
        margin: 40px 0px 40px 0px;
        width: 100%;
    }

    .quote {
        font-size: 30px;
    }

    .attribution {
    }

    .quotemark {
        font-size: 110px;
        float: left;
        line-height: 50px;
        font-family: "Bitter", serif;
    }
    }
    a {
        color: #7acb53;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }

    .pullquote {
        width: 50%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}