/* Color palette
 * green - #7ACB53
 * offwhite - #F4F5EF
 * dark blue - #162A3D
 * light blue - #74CAE2
 * yellow - #E5FB52
 * medium blue - #1683AB
 */

@media {
    body {
        background-color: #162a3d;
    }

    img {
        width: 100%;
    }

    #headline {
        color: #74cae2;
        font-weight: bold;

    }
    #byline {
        color: #e5fb52;
        font-weight: lighter;
    }

    #name {
        color: #e5fb52;
        font-weight: lighter;
    }


    .caption {
        font-size: 12px;
        color: #7acb53;
    }

    .credit {
        color: #7acb53;
    }

    .date {
        text-align: center;
        color: #7acb53;
    }

    #content {
        width: 100%;
        font-size: 15px;
        color: #f4f5ef;
    }


    .pullquote {
        text-align: center;
        color: #7acb53;
        padding: 10px 30px 10px 30px;
        margin: 40px 0px 40px 0px;
        width: 100%;
    }

    .quote {
        font-size: 30px;
    }

    .quotemark {
        font-size: 125px;
        float: left;
        line-height: 50px;
        font-family: "Bitter", serif;
        color: #74cae2;
    }
    a {
        color: #7acb53;
    }
    #topper {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    #head-byline {
        text-align: center;
    }
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }

    .pullquote {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}