@media {
    img {
        width: 100%;
        border-radius: 100px;
    }

    h1 {
        font-family: "IBM Plex Sans Condensed", sans-serif;
        font-size: 80px;
    }

    #topper {
        background-color: #b2a3b5;
    }

    #content {
        background-color: #b2a3b5;
    }

    #navigation {
        background-color: #605b56;
    }

    #navigation a {
        color: #ebdccb;
    }

    h3 {
        border-bottom: dotted 3px #605b56;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 100px;
    }
}
